<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :first_name, class: "form-field" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form-row">
    <%= form.label :last_name, class: "form-field" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="form-row">
    <%= form.label :gender, class: "form-field" %>
    <%= collection_radio_buttons(:patient, :gender, Patient.genders, :first, :first, options: {}, html_options: { class: "mx-1" } ) %>
  </div>

  <div class="form-row">
    <%= form.label :birth_date, class: "form-field" %>
    <%= form.date_field :birth_date, :max => Date.today %>
  </div>

  <div class="form-row">
    <%= form.label :pesel, class: "form-field" %>
    <%= form.text_field :pesel %>
  </div>

  <div class="form-row">
    <%= form.label :city, class: "form-field" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
