<tr class="patient">
    <td class="patient-full-name"><%= patient.full_name %></td>
    <td class="patient-details"><%= patient.gender %></td>
    <td class="patient-details"><%= patient.birth_date %></td>
    <td class="patient-appointments">
        <%= count = patient.appointments.count
        count == 0 ? count : (link_to patient.appointments.count, appointments_path(patient_id: patient.id), data: { turbo: "false" }) %>
    </td>
    <td class="table-btns">
        <%= link_to "Show this patient", patient, data: { turbo: "false" }, class: "btn btn-secondary btn-sm" %>
        <%= new_appointment_button(patient, css_class: "btn btn-secondary btn-sm") %>
    </td>
</tr>
