<%= search_form_for @q do |f| %>
    <span>                                
        <%= f.label :last_name_cont %>
        <%= f.search_field :last_name_cont %>
    </span>
    <span>    
        <%= f.label(:gender_eq, "Gender") %>
        <%= f.select :gender_eq, options_for_select([['both', ''], ['male'], ['female']], :selected => @q.gender_eq) %>
    </span>
    <span>    
        <%= f.label(:birth_date_gt, "Birth date between:") %>
        <%= f.date_field :birth_date_gteq %>
  
        <%= f.label(:birth_date_lt, "and:") %>
        <%= f.date_field :birth_date_lt %>
    </span>

<% end %>
