<p style="color: green"><%= notice %></p>

<h1>Doctors</h1>
<%= button_to "New doctor", new_doctor_path, method: :get %>


<%= turbo_frame_tag "table" do %>
  <div><%= paginate @doctors %></div>
  <table>
    <thead>
      <tr>
        <th id="doctor-name" scope="col">
          <span>Doctor name</span>
        </th>
        <th id="doctor-actions" scope="col">
          <span>Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'index_item', collection: @doctors, as: :doctor %>
    </tbody>
  </table>
<% end %>  
