<%= form_with(model: appointment) do |form| %>
  <%=form.hidden_field :patient_id, :value => @patient_id %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :date, class: "form-field" %>
    <%= form.date_field :date, :min => Date.today %>
  </div>

  <div class="form-row">
    <%= form.label :time_slot, class: "form-field" %>
    <%= form.select :time_slot, Appointment.time_slots.keys.to_a %>
  </div>

  <div class="form-row">
    <%= form.label :price, class: "form-field" %>
    <%= form.number_field :price %> <span>&nbsp;PLN</span>
  </div>

  <div class="form-row">
    <%= form.label :doctor_id, class: "form-field" %>
    <%= form.select :doctor_id, Doctor.all.collect { |d| [ d.full_name, d.id ] }, :prompt => "Choose doctor" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
