<tr class="appointment">
    <td class="appointment-details"><%= appointment.date_time.strftime("%Y-%m-%d %H:%M") %></td>
    <td class="appointment-details"><%= appointment.doctor.full_name  %></td>
    <td class="appointment-details"><%= appointment.patient.full_name %></td>
    <td class="appointment-details"><%= appointment.price %></td>
    <td class="appointment-btns">
        <%= link_to "Edit this appointment", edit_appointment_path(appointment), data: { turbo: "false" } %>
        <%= button_to "Destroy this appointment", appointment, method: :delete %>
    </td>
</tr>

