<tr class="appointment">
    <td class="appointment-details"><%= appointment.date_time.strftime("%Y-%m-%d %H:%M") %></td>
    <td class="appointment-details"><%= appointment.doctor.full_name  %></td>
    <td class="appointment-details"><%= appointment.patient.full_name %></td>
    <td class="appointment-details"><%= appointment.price %></td>
    <td class="table-btns">
        <%= edit_appointment_button(appointment, appointment.patient, css_class: "btn-secondary btn-sm") %>
        <%= button_to "Destroy this appointment", appointment, method: :delete, class: "btn btn-secondary btn-sm" %>
    </td>
</tr>